*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body{
    height: 100%;
    overflow-x: hidden;
    position: relative;    
}

header{
    height: 100px;
    padding:0 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: "Barlow Condensed", sans-serif;;
    font-weight: 700;
}

.menubar{
    width: 30px;
    height: 30px;
    border-radius: 3px;
    background-color: transparent;
    border: 2px solid gray;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

.menubar__linha{
    width: 75%;
    height: 2px;
    background-color: gray;
    transform-origin:center;
    transition: width .8s, transform .8s, background .8s;
}

.menubar.ativar .menubar__linha:first-of-type{
    transform: translateY(7.3px) rotate(45deg);
    background-color: #ff5e5e;
}

.menubar.ativar .menubar__linha:nth-of-type(2){
    width: 0;
}

.menubar.ativar .menubar__linha:last-of-type{
    transform: translateY(-7px) rotate(-45deg);
    background-color: #ff5e5e;
}

.menubar.ativar{
    border: 2px solid #ff5e5e;
}

.menubar.ativar .navlink-m{
    display: block;
}


.navlink-m{
    font-family: "Barlow Condensed", sans-serif;
    font-weight: 700;
    position: absolute;
    right: 10%;
    top: calc(100px - 15px);
    width: 80%;
    max-width: 400px;
    display: none;
}

.clear{
    clear: both;
}

.navlink-m__list{
    list-style: none;
    text-align: center;
    padding:1px 10%;
    background-color: hsl(0, 0%, 100%);
    border-radius: 10px;
}

.navlink-m__list li{
    margin: 10% 0;
}

.navlink-m__list li a{
    text-decoration: none;
    color:black;
    font-size: 1.8em;
}

.navlink-m__list li:last-of-type a{
    color:  hsl(231, 7%, 65%);
}

.navlink-d{
    display: none;
}

.back{
    position: absolute;
    top: 0;
    right:0;
    width: 50%;
    height: 70%;
    max-height: 115vw;
    background-color:hsl(207, 33%, 95%);
    z-index: -1;
    border-bottom-left-radius: 80px;
}

main{
    display: flex;
    flex-direction:column;
    gap: 30vw;
    padding-bottom: 15%;
}

.container-1{
    width: 100%;
}

.container-1__img{
    width: 130%;
    margin:10% 0 0 3%
}

.container-2{
    padding: 0 5%;
    font-family: 'Barlow Condensed', sans-serif;
}

.container-2 p span strong{
    letter-spacing: normal;
    background-color: hsl(230, 29%, 20%);
    padding:1% 3%;
    border-radius: 20px;
    color: white;
    margin-right: 8px;
}

.container-2 p:first-of-type{
    letter-spacing: 4px;
    font-weight: 500;
    color: hsl(295, 11%, 77%);
    font-size: 3.5vw;
}

.container-2 h1{
    color: hsl(230, 29%, 20%);
    font-size: 10vw;
    margin: 3% 0;
}

.container-2 p:last-of-type{
    width: 85%;
    color: hsl(230, 11%, 40%);
    font-size: 20px;
    margin-bottom: 6%;
}

.container-2 input{
    width: 49%;
    padding: 3% 0;
    border-radius: 7px;
    border: 0;
    cursor: pointer;
}

.container-2__btn-1{
    background-color: hsl(0, 100%, 68%);
    color: white;
    font:700 4vw 'Barlow Condensed', sans-serif;
    transition: background-color .7s;
}

.container-2__btn-2{
    background-color: transparent;
    font: 3.8vw 'Barlow Condensed', sans-serif;
    letter-spacing: 1px;
    color:hsl(0, 100%, 68%);
    transition: background-color .5s;
}

@media screen and (min-width:596px) and (max-width:992px){
    main{
        padding-bottom: 10%;
        gap: 23vw;
    }
    .container-1__img{
        width:100%;
        margin:10% 0 0 8%
    }
    .back{
        max-height: 85vw;
    }
    .container-2{
        text-align: center;
        padding: 0 10%;
    }
    .container-2 p:first-of-type{
        letter-spacing:8px;
        font-size: 2.5vw;
    }
    .container-2 h1{
        font-size: 9vw;
        margin: 3% 0;
    }
    .container-2 p:last-of-type{
        width: 100%;
        font-size: 20px;
        margin-bottom: 6%;
    }
    .container-2 input{
        width: 32%;
        padding: 2% 0;
        border-radius: 9px;
    }
    .container-2__btn-1{
        font:700 2.2vw 'Barlow Condensed', sans-serif;
    }
    .container-2__btn-2{
        font: 2.2vw 'Barlow Condensed', sans-serif;
    }
}

@media screen and (min-width:992px){
    .menubar{
        display: none;
    }
    .navlink-m{
        display: none;
    }
    .navlink-d{
        display: block;
    }
    .navlink-d__list{
        display: flex;
        gap: 23%;
        list-style: none;
        transform: translate(-100%, 0);
        font-size: 1.1em;
    }
    .navlink-d__list li a{
        text-decoration: none;
        color: hsl(230, 29%, 20%);
    }
    .navlink-d__list li:nth-of-type(4),
    .navlink-d__list li:nth-of-type(5) a{
        color: hsl(295, 11%, 77%);
    }
    main{
        flex-direction: row-reverse;
        gap:0;
        padding: 10%;
        padding-bottom: 5%;
    }
    .back{
        height: 60%;
    }
    .container-1__img{
        width: 150%;
        margin:0;
        transform: translate(8%, -15%);
    }
    .container-2{
        padding: 0;
    }
    .container-2 p span strong{
        padding:3px 10px
    }
    .container-2 p:first-of-type{
        font-size: 17px;
    }
    .container-2 h1{
        font-size: 4em;
        line-height: 65px;
        margin-bottom: 5%;
    }
    .container-2 input{
        width: 40%;
        padding: 2% 0;
        border-radius: 5px;
    }
    .container-2__btn-1{
        font:700 1.1em 'Barlow Condensed', sans-serif;
    }
    .container-2__btn-2{
        font: 1.1em 'Barlow Condensed', sans-serif;
    }

}